.footer {
  background-color: #abb2f3e1;
  padding: 60px 20px 20px;
  color: #f21111;
  font-family: sans-serif;
}

.footer-container {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}
.footer h3{
  color: #000000;
}

.footer h4{
  color: #150808;
}
.footer h5{
  color: #150808;
  font-weight: bold;
}

@media (min-width: 768px) {
  .footer-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.footer-logo img {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
  
}

.footer-column h4 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 12px;

}

.footer-column p {
  font-size: 0.95rem;
  line-height: 1.6;
  margin: 6px 0;
  
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #020000;
  transition: color 0.3s;
  font-weight: bold;
}

.footer-column ul li a:hover {
  color: #33117b;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #e0e0e0;
  font-size: 0.9rem;
  
}

.footer-column span a{
 color: rgb(249, 255, 250);
 font-weight: bold;
}