.footer {
  background-color: #abb2f3e1;
  padding: 60px 20px 20px;
  color: #000000;
  font-family: sans-serif;
  width: 100%;
}

.logo{
  margin-left: 30px;
}


.footer-logo img {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
  margin-top: -20px;
}


.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}
.footer h2{
  color: #f00404;
  font-size: medium;

}

.footer h4{
  color: #1b1414;
}
.footer h5{
  color: #0d0a0a;

}

.footer-logo p {

  margin-top: -15px;
}

@media (min-width: 768px) {
  .footer-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.footer-column h4 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 12px;

}
.footer p{
  color: #020000;
}

.footer-column p {
  font-size: 0.95rem;
  line-height: 1.6;
  margin: 6px 0;
  
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #1b1818;
  transition: color 0.3s;
  font-weight: bold;
}

.footer-column ul li a:hover {
  color: #33117b;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #e0e0e0;
  font-size: 0.9rem;
  
}

.footer-column span a{
 color: rgb(10, 14, 11);
 font-weight: bold;
 text-decoration: none;
 font-size: medium;
}

.footer-column a[href^="mailto:"] {
  text-decoration: none;
  color: #000000; 
  font-weight: bold;
  font-size: medium;
}

.footer-column a[href^="mailto:"]:hover {
  color: #000000;
  text-decoration: underline; 
}

