.whatsapp-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #3fa425;
  color: white;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
}

.whatsapp-button:hover {
  transform: scale(1.15);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

.whatsapp-icon-img {
  width: 200px;
  height: 80px;
  object-fit: contain;
}

/* Responsive for mobile */
@media (max-width: 480px) {
  .whatsapp-button {
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
  }

  .whatsapp-icon-img {
    width: 100px;
    height: 100px;
  }
}
